.header {
  background-color: $red-transparent;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(219, 188, 144, 0.91);
  box-shadow: 0px 0px 10px 0px rgba(219, 188, 144, 0.91);
  -moz-box-shadow: 0px 0px 10px 0px rgba(219, 188, 144, 0.91);
}
