.seeker-component {
  //background-color: red;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  .pokeball-icon {
    width: 20px;
    @include seeker-images;
  }

  .poke-icon {
    @include seeker-images;
  }

  input[type="text"] {
    width: 40%;
    background-color: transparent;
    border-bottom: 1px solid $grey;
    padding: 10px 0 10px 0px;
    color: $light-grey-font;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s;
    text-align: center;

    &:focus {
      outline: none;
    }

    &::placeholder {
      text-align: center;
    }
  }
}
