.seeker-component {
  //background-color: red;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 60%;
    transition: all 0.5s;

    input[type="text"] {
      width: 100%;
      background-color: $dark-transparent;
      border-bottom: 3px solid $dark-grey;
      border-top: 3px solid $dark-grey;
      border-left: 3px solid $dark-grey;
      border-radius: 50px;
      padding: 10px 0;
      color: $light-grey-font;
      text-align: center;
      @include normal-font;

      &:focus {
        outline: none;
      }

      &::placeholder {
        text-align: center;
      }
    }

    &:hover {
      width: 80%;
    }
  }

  .search-icon {
    color: $grey;
    border: 3px $dark-grey solid;
    font-size: 25px;
    background-color: $dark-grey;
    padding: 15px;
    border-radius: 50%;
    margin-left: -35px;
  }
}
