// Dashboard styles
.dashboard {
  width: 70%;
  height: calc(100vh - 260px);
  background-color: $light-transparent;
  position: relative;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);

  .master-ball {
    width: 80px;
    height: auto;
    position: absolute;
    top: -20px !important;
    right: -20px !important;
  }

  .data-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .pokemon-result {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100%;

      .pokemon-result-data {
        width: 30%;
        height: 100%;
        margin-right: 50px;
        @include flex-col-center-center;

        .pokemon-name,
        .pokemon-image,
        .pokemon-id {
          width: 100%;
          text-align: center;
        }

        .pokemon-name {
          color: $white-font;
          font-weight: bold;
          padding: 5px 20px;
          font-size: 25px;
          border-radius: 30px;
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
          background: rgb(2, 0, 36);
          background: rgb(153, 153, 153);
          background: radial-gradient(
            circle,
            rgba(153, 153, 153, 1) 0%,
            rgba(54, 54, 54, 1) 100%
          );
        }

        .pokemon-image {
          padding: 20px 0;
          position: relative;

          img {
            width: 120px;
            height: auto;
          }

          .pokemon-attribute-ico {
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: 5px;
            right: 5px;
          }
        }

        .pokemon-id {
          color: $white-font;
          font-weight: bold;
          padding: 5px 0;
          font-size: 15px;
          border-radius: 30px;
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
          background: rgb(2, 0, 36);
          background: rgb(153, 153, 153);
          background: radial-gradient(
            circle,
            rgba(153, 153, 153, 1) 0%,
            rgba(54, 54, 54, 1) 100%
          );
        }
      }

      .pokemon-result-attributes {
        width: 70%;
        height: 100%;
        //background-color: red;
        @include flex-col-center-center;

        .pokemon-result-attributes-container {
          .pokemon-attribute {
            display: flex;
            align-items: center;
            margin: 5px 0;

            .pokemon-type {
              padding: 2px 30px;
              border-radius: 50px;
              color: $light-grey-font;
              text-align: center;
            }

            p {
              font-size: 1rem;
              color: $grey;
              margin: 0 10px 0 0;
              width: 70%;

              svg {
                font-size: 21px;
              }
            }

            progress::-webkit-progress-value {
              background: lightblue;
            }

            progress::-moz-progress-bar {
              background: lightcolor;
            }

            progress::-webkit-progress-value {
              background: rgb(2, 0, 36);
              background: rgb(153, 153, 153);
              background: radial-gradient(
                circle,
                rgba(153, 153, 153, 1) 0%,
                rgba(54, 54, 54, 1) 100%
              );
            }
          }
        }
      }
    }
  }
}
