// Dashboard styles
.dashboard {
  width: 80%;
  height: calc(100vh - 220px);
  background-color: $light-transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);

  .empty-message {
    display: flex;
    align-items: center;

    p {
      font-size: 1rem;
      color: $grey-text;
      margin: 0 10px 0 0;
    }

    img {
      width: 30px;
      height: auto;
    }
  }
}
