// Dashboard styles
.dashboard {
  width: 70%;
  height: calc(100vh - 260px);
  background-color: $light-transparent;
  position: relative;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.46);

  .master-ball {
    width: 80px;
    height: auto;
    position: absolute;
    top: -20px;
    right: -20px;
  }

  .data-dashboard {
    @include flex-row-center-center;
    height: 100%;
  }
}
