footer {
  width: 100%;
  height: 70px;
  background-color: $dark-transparent;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  @include flex-row-center-center;

  .footer-image {
    margin: 0 20px;
    height: auto;
    transition: all 0.5s;
  }

  p {
    color: $grey;
    @include normal-font;

    .github-icon {
      color: #fff;
      font-size: 20px;
      transition: all 0.5s;
      margin: 0 5px;
      cursor: pointer;

      &:hover {
        color: $grey;
      }
    }
  }
}

// Media Querys
@media screen and (max-width: 992px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {
  footer {
    p {
      font-size: 13px;

      .github-icon {
        font-size: 15px;
      }
    }
  }
}
