// Fonts colors
$light-grey-font: #fff;
$white-font: #fff;
$grey: #999999;
$grey-text: rgba(115, 115, 115);
$dark-grey: #363636;

// Background colors
$dark-transparent: rgba(26, 26, 26, 0.82);
$light-transparent: rgba(255, 255, 255, 0.8);
$red-transparent: rgba(255, 0, 0, 0.6);
$red-transparent-08: rgba(255, 0, 0, 0.8);
$beige-background: rgb(249, 209, 138);

// Pokemon Types colors
.normal {
  background-color: #969592 !important;
}

.fighting {
  background-color: #d77a49 !important;
}

.flying {
  background-color: #5983ef !important;
}

.poison {
  background-color: #82549a !important;
}

.ground {
  background-color: #9a5e41 !important;
}

.rock {
  background-color: #a28d79 !important;
}

.bug {
  background-color: #9eb559 !important;
}

.ghost {
  background-color: #a2729a !important;
}

.steel {
  background-color: #7d879a !important;
}

.fire {
  background-color: #db4249 !important;
}

.water {
  background-color: #55b8e2 !important;
}

.grass {
  background-color: #459f4d !important;
}

.electric {
  background-color: #dbb508 !important;
}

.psychic {
  background-color: #e76e9a !important;
}

.ice {
  background-color: #6db5ba !important;
}

.dragon {
  background-color: #1085a2 !important;
}

.dark {
  background-color: #555461 !important;
}

.fairy {
  background-color: #ef9bb6 !important;
}
