// Primary color
$primary: #29303b;

// Fonts colors
$yellow: #f7c506;
$light-grey-font: #e3e3e3;
$beige-font: #dbbc90;
$grey: #999999;
$grey-text: rgba(115, 115, 115);
$blue: #2d6596;

// Background colors
$dark-transparent: rgba(26, 26, 26, 0.82);
$red-transparent: rgb(255, 0, 0, 0.6);
$light-transparent: rgba(255, 255, 255, 0.8);
