* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url("../../assets/img/pokedex.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 150%;
  animation: move 10s linear infinite alternate;
  @keyframes move {
    from {
      background-position: bottom left;
    }
    to {
      background-position: top right;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&display=swap");

// Mixin's
@mixin flex-col-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin title-font {
  color: $white-font;
  font-weight: bold;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

@mixin normal-font {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

@mixin blackBackground {
  background: rgb(2, 0, 36);
  background: rgb(153, 153, 153);
  background: radial-gradient(
    circle,
    rgba(153, 153, 153, 1) 0%,
    rgba(54, 54, 54, 1) 100%
  );
}

.pokedex-app {
  height: 100vh;
  width: 100%;
  align-content: space-between;
  @include flex-col-center-center;
}
