.normal {
  background-color: #ad986d;
}

.fighting {
  background-color: #fd5b6c;
}

.flying {
  background-color: #808dc5;
}

.posion {
  background-color: #b663a4;
}

.ground {
  background-color: #e6b059;
}

.rock {
  background-color: #aaa05f;
}

.bug {
  background-color: #94ab38;
}

.ghost {
  background-color: #866e8b;
}

.steel {
  background-color: #89b5bd;
}

.fire {
  background-color: #f37b5b;
}

.water {
  background-color: #46ccd4;
}

.grass {
  background-color: #7ec653;
}

.electric {
  background-color: #fec41d;
}

.psychic {
  background-color: #ff5e96;
}

.ice {
  background-color: #6edbd3;
}

.dragon {
  background-color: #5964b9;
}

.dark {
  background-color: #594f4f;
}

.fairy {
  background-color: #fe75a8;
}
